doctype html
html(lang="en")
    head
        title #{pageTitle}
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href='/') Return to the homepage
        .form-wrapper
            p Song name: #{name}
            p Release date: #{releaseDate}
            p Length: #{length}
            p Average Rating: #{averageRating}
            p Spotify Plays: #{spotifyPlays}
            br
            strong Update song info
            br
            form(method="POST")
                label(for="name") New Song name:
                input(type="text" name="name" placeholder=`${name}` required)
                label(for="length") New Length:
                input(type="text" name="length" placeholder=`${length}` required)
                label(for="average_rating") New Average Rating (1-10):
                input(type="text" name="average_rating" placeholder=`${averageRating}` required)
                input(type="submit" value="Submit")